/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/vendor/
/build/
/bin/
/.idea/
phpunit.xml
composer.phar
cache.properties
coverage.xml
behat.yml
.env
.php_cs.cache
*.tar.gz
*.swp
*.swo
